@font-face {
  font-family: "hf-"; /* Project id 3320791 */
  src: url('iconfont.woff2?t=1678760997608') format('woff2'),
       url('iconfont.woff?t=1678760997608') format('woff'),
       url('iconfont.ttf?t=1678760997608') format('truetype');
}

[class*=" hf-"], [class^=hf-] {
  font-family: "hf-" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hf-a-chixujicheng_huaban1:before {
  content: "\e6ad";
}

.hf-hetongbiangeng:before {
  content: "\e698";
}

.hf-HAP:before {
  content: "\e696";
}

.hf-P3333-12:before {
  content: "\e65e";
}

.hf-a-huafengMESpc-06:before {
  content: "\e65d";
}

.hf-a-huafengMESpc-061:before {
  content: "\e662";
}

.hf-lvyeMMM:before {
  content: "\e65c";
}

.hf-lvyeMMM-09:before {
  content: "\e663";
}

.hf-MESlvye:before {
  content: "\e661";
}

.hf-MESlvye-09:before {
  content: "\e65b";
}

.hf-a-lvye-09:before {
  content: "\e65a";
}

.hf-wujian-28:before {
  content: "\e659";
}

.hf-PCshuju-08:before {
  content: "\e658";
}

.hf-PC27-27:before {
  content: "\e63a";
}

.hf-PCzhoubao-14:before {
  content: "\e652";
}

.hf-qiyexinxichaxun:before {
  content: "\e62c";
}

.hf-a-chaoxianzhijianpc:before {
  content: "\e62d";
}

.hf-chaoxianzhijianQAS:before {
  content: "\e62e";
}

.hf-a-hechengshengchanxitongpc:before {
  content: "\e62f";
}

.hf-a-caiwutouzipc:before {
  content: "\e630";
}

.hf-HAPkaifangpingtai:before {
  content: "\e631";
}

.hf-a-hechengfupc:before {
  content: "\e632";
}

.hf-a-bancheyuyuepc:before {
  content: "\e633";
}

.hf-a-MESceshipc:before {
  content: "\e634";
}

.hf-a-weicaifahuopc:before {
  content: "\e635";
}

.hf-a-chaoxianbaojiapc:before {
  content: "\e636";
}

.hf-a-renwuguanlipc:before {
  content: "\e637";
}

.hf-a-yidongdakapc:before {
  content: "\e638";
}

.hf-a-anlunzhuisupc:before {
  content: "\e639";
}

.hf-a-baogongshifuzhuxitongpc:before {
  content: "\e63d";
}

.hf-a-jituanshujucaijipc:before {
  content: "\e63b";
}

.hf-a-chixujichengpc:before {
  content: "\e63c";
}

.hf-a-xinziguanlipingtaipc:before {
  content: "\e63e";
}

.hf-qidongPDA:before {
  content: "\e641";
}

.hf-a-BIxitongpc:before {
  content: "\e642";
}

.hf-a-tuishuipc:before {
  content: "\e644";
}

.hf-a-shiliyingyongpc:before {
  content: "\e645";
}

.hf-a-MESbendi2pc:before {
  content: "\e646";
}

.hf-a-lvyejihuapc:before {
  content: "\e647";
}

.hf-a-yingqihulianpc:before {
  content: "\e648";
}

.hf-a-piaojupingtaipc:before {
  content: "\e649";
}

.hf-a-jichupingtaipc:before {
  content: "\e64b";
}

.hf-a-demoyingyongpc:before {
  content: "\e64c";
}

.hf-a-huafengMESpc:before {
  content: "\e64d";
}

.hf-a-kehuduanguanlipc:before {
  content: "\e64e";
}

.hf-a-chaoxianshengchanpc:before {
  content: "\e64f";
}

.hf-a-weiyingyongoc:before {
  content: "\e650";
}

.hf-a-caiwuxitongpc:before {
  content: "\e651";
}

.hf-a-lvyeMESpc:before {
  content: "\e655";
}

.hf-a-xiaoxitongzhifuwupc:before {
  content: "\e656";
}

.hf-a-lvyebaojiapc:before {
  content: "\e657";
}

.hf-yidong-copy:before {
  content: "\e660";
}

.hf-yidong:before {
  content: "\e616";
}

.hf-xinxiang:before {
  content: "\e617";
}

.hf-xiaoxi:before {
  content: "\e618";
}

.hf-weicaifahuo:before {
  content: "\e619";
}

.hf-baojia:before {
  content: "\e61a";
}

.hf-anlunzhuisu:before {
  content: "\e61b";
}

.hf-BIbaobiao:before {
  content: "\e61c";
}

.hf-banche:before {
  content: "\e61d";
}

.hf-dingcan:before {
  content: "\e61e";
}

.hf-chaoxian:before {
  content: "\e61f";
}

.hf-xinzi:before {
  content: "\e620";
}

.hf-qiyekaipiao:before {
  content: "\e621";
}

.hf-fengji:before {
  content: "\e622";
}

.hf-zhishi:before {
  content: "\e623";
}

.hf-fangke:before {
  content: "\e624";
}

.hf-anluncaigou:before {
  content: "\e625";
}

.hf-bangong:before {
  content: "\e626";
}

.hf-xiaofei:before {
  content: "\e627";
}

.hf-qianzhe:before {
  content: "\e628";
}

.hf-zhoubao:before {
  content: "\e629";
}

.hf-renshi:before {
  content: "\e62a";
}

.hf-qianlian:before {
  content: "\e62b";
}

.hf-BIbaobiao-copy:before {
  content: "\e65f";
}

