@font-face {
  font-family: "huafon-crm-";
  src: url('iconfont.eot?t=1709170148276'); /* IE9*/
  src: url('iconfont.eot?t=1709170148276#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("iconfont.woff2?t=1709170148276") format("woff2"),
  url("iconfont.woff?t=1709170148276") format("woff"),
  url('iconfont.ttf?t=1709170148276') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1709170148276#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="huafon-crm-"], [class*=" huafon-crm-"] {
  font-family: 'huafon-crm-' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.huafon-crm-a-fenqiwancheng2:before { content: "\ea01"; }
.huafon-crm-a-qidongkaiguan:before { content: "\ea02"; }
.huafon-crm-a-quanbudingdan2:before { content: "\ea03"; }
.huafon-crm-bianji:before { content: "\ea04"; }
.huafon-crm-biaodannei--bianji:before { content: "\ea05"; }
.huafon-crm-biaodannei--shanchu:before { content: "\ea06"; }
.huafon-crm-biaodannei--wenjian:before { content: "\ea07"; }
.huafon-crm-bizijinribaobiao:before { content: "\ea08"; }
.huafon-crm-bohui:before { content: "\ea09"; }
.huafon-crm-bohui1:before { content: "\ea0a"; }
.huafon-crm-changqishouxinedu:before { content: "\ea0b"; }
.huafon-crm-chaozhouqiqiankuan:before { content: "\ea0c"; }
.huafon-crm-dagou:before { content: "\ea0d"; }
.huafon-crm-daishenpi--kehushenpi:before { content: "\ea0e"; }
.huafon-crm-daishenpi-kehushouxin:before { content: "\ea0f"; }
.huafon-crm-daishenpi-shangjiguanli:before { content: "\ea10"; }
.huafon-crm-daishenpi-xiaoshoudingdan:before { content: "\ea11"; }
.huafon-crm-daishenpi-xiaoshouhetong:before { content: "\ea12"; }
.huafon-crm-daishenpi-xiaoshoujihua:before { content: "\ea13"; }
.huafon-crm-daishenpi-yingxiaozhengce:before { content: "\ea14"; }
.huafon-crm-dianzan1:before { content: "\ea15"; }
.huafon-crm-dianzan2:before { content: "\ea16"; }
.huafon-crm-dibudongtaiicon-xuanzhong:before { content: "\ea17"; }
.huafon-crm-dibudongtaiicon:before { content: "\ea18"; }
.huafon-crm-dibujiashicangicon-xuanzhong:before { content: "\ea19"; }
.huafon-crm-dibujiashicangicon:before { content: "\ea1a"; }
.huafon-crm-dibukehuicon-xuanzhong:before { content: "\ea1b"; }
.huafon-crm-dibukehuicon:before { content: "\ea1c"; }
.huafon-crm-dibuxiaoxiicon-xuanzhong:before { content: "\ea1d"; }
.huafon-crm-dibuxiaoxiicon:before { content: "\ea1e"; }
.huafon-crm-dibuyingyongicon-xuanzhong:before { content: "\ea1f"; }
.huafon-crm-dibuyingyongicon:before { content: "\ea20"; }
.huafon-crm-dingdan--chepiao:before { content: "\ea21"; }
.huafon-crm-dingdanxiangqingtubiao:before { content: "\ea22"; }
.huafon-crm-diyageihuafeng--shiwudiya:before { content: "\ea23"; }
.huafon-crm-fahuoqingqiu:before { content: "\ea24"; }
.huafon-crm-fahuoqingqiu11:before { content: "\ea25"; }
.huafon-crm-fahuotongguo:before { content: "\ea26"; }
.huafon-crm-fangdajing:before { content: "\ea27"; }
.huafon-crm-fanhui:before { content: "\ea28"; }
.huafon-crm-fanlichizonge:before { content: "\ea29"; }
.huafon-crm-fayuangonggao:before { content: "\ea2a"; }
.huafon-crm-fengxianyujing-beizhihangren:before { content: "\ea2b"; }
.huafon-crm-fengxianyujing-dongchandiya:before { content: "\ea2c"; }
.huafon-crm-fengxianyujing-falvsusong:before { content: "\ea2d"; }
.huafon-crm-fengxianyujing-goudixinxi:before { content: "\ea2e"; }
.huafon-crm-fengxianyujing-hangzhengchufa:before { content: "\ea2f"; }
.huafon-crm-fengxianyujing-jingyingyichang:before { content: "\ea30"; }
.huafon-crm-fengxianyujing-lianxinxi:before { content: "\ea31"; }
.huafon-crm-fengxianyujing-qianshuigonggao:before { content: "\ea32"; }
.huafon-crm-fengxianyujing-quanbu:before { content: "\ea33"; }
.huafon-crm-fengxianyujing-shixinren:before { content: "\ea34"; }
.huafon-crm-fengxianyujing-shuiwupingji:before { content: "\ea35"; }
.huafon-crm-fengxianyujing-sifaxiezhu:before { content: "\ea36"; }
.huafon-crm-fengxianyujing-tudizhuanrang:before { content: "\ea37"; }
.huafon-crm-fengxianyujing-zhongbenanjian:before { content: "\ea38"; }
.huafon-crm-gengduo:before { content: "\ea39"; }
.huafon-crm-gengduo1:before { content: "\ea3a"; }
.huafon-crm-gengduogengduo:before { content: "\ea3b"; }
.huafon-crm-gerenxinxishezhimimaxiugai:before { content: "\ea3c"; }
.huafon-crm-gerenxinxishezhiqiehuandenglu:before { content: "\ea3d"; }
.huafon-crm-gerenxinxishezhizhuxiao:before { content: "\ea3e"; }
.huafon-crm-guquanchuzhi:before { content: "\ea3f"; }
.huafon-crm-hetongbiangeng:before { content: "\ea40"; }
.huafon-crm-hetongzhongzhi:before { content: "\ea41"; }
.huafon-crm-hfnew_kh360_calendar:before { content: "\ea42"; }
.huafon-crm-hfnew_kh360_certification:before { content: "\ea43"; }
.huafon-crm-hfnew_kh360_dmfddt:before { content: "\ea44"; }
.huafon-crm-hfnew_kh360_dyghf:before { content: "\ea45"; }
.huafon-crm-hfnew_kh360_fxyj:before { content: "\ea46"; }
.huafon-crm-hfnew_kh360_gdxx:before { content: "\ea47"; }
.huafon-crm-hfnew_kh360_jbzl:before { content: "\ea48"; }
.huafon-crm-hfnew_kh360_jygz:before { content: "\ea49"; }
.huafon-crm-hfnew_kh360_khsycp:before { content: "\ea4a"; }
.huafon-crm-hfnew_kh360_khxx:before { content: "\ea4b"; }
.huafon-crm-hfnew_kh360_production:before { content: "\ea4c"; }
.huafon-crm-hfnew_kh360_scdt:before { content: "\ea4d"; }
.huafon-crm-hfnew_kh360_shfw:before { content: "\ea4e"; }
.huafon-crm-hfnew_kh360_statistic:before { content: "\ea4f"; }
.huafon-crm-hfnew_kh360_xsjsk:before { content: "\ea50"; }
.huafon-crm-hfnew_kh360_xszz:before { content: "\ea51"; }
.huafon-crm-hfnew_kh360_xyjqk:before { content: "\ea52"; }
.huafon-crm-jiantou:before { content: "\ea53"; }
.huafon-crm-jiesuanzhouqi:before { content: "\ea54"; }
.huafon-crm-kaiguan:before { content: "\ea55"; }
.huafon-crm-kaitinggonggao:before { content: "\ea56"; }
.huafon-crm-kehu--dianhua:before { content: "\ea57"; }
.huafon-crm-kehu--xiaoxi:before { content: "\ea58"; }
.huafon-crm-kehu-diyageihuafeng:before { content: "\ea59"; }
.huafon-crm-kehu-dmfdanduntong:before { content: "\ea5a"; }
.huafon-crm-kehu-fengxianyujing:before { content: "\ea5b"; }
.huafon-crm-kehu-gudongxinxi:before { content: "\ea5c"; }
.huafon-crm-kehu-jiaoyigenzong:before { content: "\ea5d"; }
.huafon-crm-kehu-jibenziliao:before { content: "\ea5e"; }
.huafon-crm-kehu-kehushiyongchanpin:before { content: "\ea5f"; }
.huafon-crm-kehu-kehuxinxi:before { content: "\ea60"; }
.huafon-crm-kehu-shichangdongtai:before { content: "\ea61"; }
.huafon-crm-kehu-shouhoufuwu:before { content: "\ea62"; }
.huafon-crm-kehu-xiaoshoujishoukuan:before { content: "\ea63"; }
.huafon-crm-kehu-xiaoshouzuzhi:before { content: "\ea64"; }
.huafon-crm-kehu-xinyongjiqiankuan:before { content: "\ea65"; }
.huafon-crm-kuaisuchuangjian--dmfcaigoushenqing:before { content: "\ea66"; }
.huafon-crm-kuaisuchuangjian--xindingdan:before { content: "\ea67"; }
.huafon-crm-kuaisuchuangjian--xindongtai:before { content: "\ea68"; }
.huafon-crm-kuaisuchuangjian--xinhetong:before { content: "\ea69"; }
.huafon-crm-kuaisuchuangjian--xinjihuawaifahuo:before { content: "\ea6a"; }
.huafon-crm-kuaisuchuangjian--xinkehu:before { content: "\ea6b"; }
.huafon-crm-kuaisuchuangjian--xinrenwu:before { content: "\ea6c"; }
.huafon-crm-kuaisuchuangjian--xinshangji:before { content: "\ea6d"; }
.huafon-crm-kuaisuchuangjian--xinshiliao:before { content: "\ea6e"; }
.huafon-crm-kuaisuchuangjian--xinyingxiaozhengce:before { content: "\ea6f"; }
.huafon-crm-kuaisuchuangjian-baifangkehu:before { content: "\ea70"; }
.huafon-crm-kuaisuchuangjian-shouhoufuwu:before { content: "\ea71"; }
.huafon-crm-kuaisuchuangjian-xindingdan:before { content: "\ea72"; }
.huafon-crm-kuaisuchuangjian-xindongtai:before { content: "\ea73"; }
.huafon-crm-kuaisuchuangjian-xinhetong:before { content: "\ea74"; }
.huafon-crm-kuaisuchuangjian-xinkehu:before { content: "\ea75"; }
.huafon-crm-kuaisuchuangjian-xinshangji:before { content: "\ea76"; }
.huafon-crm-kuaisuchuangjian-xinshiyang:before { content: "\ea77"; }
.huafon-crm-kuaisuchuangjian-xintejiashenqing:before { content: "\ea78"; }
.huafon-crm-kuaisuchuangjianduixianganniu:before { content: "\ea79"; }
.huafon-crm-mima:before { content: "\ea7a"; }
.huafon-crm-peizhiguanli:before { content: "\ea7b"; }
.huafon-crm-pinglun:before { content: "\ea7c"; }
.huafon-crm-qiankuanzonge:before { content: "\ea7d"; }
.huafon-crm-quanbudingdan:before { content: "\ea7e"; }
.huafon-crm-quxiao:before { content: "\ea7f"; }
.huafon-crm-shaixuan:before { content: "\ea80"; }
.huafon-crm-shanchu:before { content: "\ea81"; }
.huafon-crm-shanchu1:before { content: "\ea82"; }
.huafon-crm-shangyiye:before { content: "\ea83"; }
.huafon-crm-shenpi:before { content: "\ea84"; }
.huafon-crm-shenpijujue:before { content: "\ea85"; }
.huafon-crm-shenpitongguo:before { content: "\ea86"; }
.huafon-crm-shenpiyijian:before { content: "\ea87"; }
.huafon-crm-shichangdongtai--chanpinxinxi:before { content: "\ea88"; }
.huafon-crm-shichangdongtai--hechenghuishouqingkuang:before { content: "\ea89"; }
.huafon-crm-shichangdongtai--jingzhengduishou:before { content: "\ea8a"; }
.huafon-crm-shichangdongtai--kehushengchan:before { content: "\ea8b"; }
.huafon-crm-shichangdongtai--kehushoukuan:before { content: "\ea8c"; }
.huafon-crm-shichangdongtai--kehutousu:before { content: "\ea8d"; }
.huafon-crm-shichangdongtai--kehuyingli:before { content: "\ea8e"; }
.huafon-crm-shichangdongtai--xiangmugenjin:before { content: "\ea8f"; }
.huafon-crm-sifapaimai:before { content: "\ea90"; }
.huafon-crm-sousuo:before { content: "\ea91"; }
.huafon-crm-tejiashenqing:before { content: "\ea92"; }
.huafon-crm-tianjia:before { content: "\ea93"; }
.huafon-crm-tongyi:before { content: "\ea94"; }
.huafon-crm-tongyi3:before { content: "\ea95"; }
.huafon-crm-wenjian:before { content: "\ea96"; }
.huafon-crm-xianshimima:before { content: "\ea97"; }
.huafon-crm-xiao-shangjitixing:before { content: "\ea98"; }
.huafon-crm-xiao-shenpidaiban:before { content: "\ea99"; }
.huafon-crm-xiaoxi-chaosongtongzhi:before { content: "\ea9a"; }
.huafon-crm-xiaoxi-chaosongtongzhi1:before { content: "\ea9b"; }
.huafon-crm-xiaoxi-dingdanhetongtixing:before { content: "\ea9c"; }
.huafon-crm-xiaoxi-shoukuantixing:before { content: "\ea9d"; }
.huafon-crm-xiaoxi-tongzhigonggao:before { content: "\ea9e"; }
.huafon-crm-xiaoxi-wodeliucheng:before { content: "\ea9f"; }
.huafon-crm-xiaoxi-xinyongtixing:before { content: "\eaa0"; }
.huafon-crm-xiaoxiliebiao-dingdanhetongtixing:before { content: "\eaa1"; }
.huafon-crm-xiaoxiliebiao-dingdanhetongtixing1:before { content: "\eaa2"; }
.huafon-crm-xiaoxiliebiao-jihuatixing:before { content: "\eaa3"; }
.huafon-crm-xiaoxiliebiao-jihuatixing1:before { content: "\eaa4"; }
.huafon-crm-xiaoxiliebiao-shangjitixing:before { content: "\eaa5"; }
.huafon-crm-xiaoxiliebiao-shangjitixing1:before { content: "\eaa6"; }
.huafon-crm-xiaoxiliebiao-shenpidaiban:before { content: "\eaa7"; }
.huafon-crm-xiaoxiliebiao-shenpidaiban1:before { content: "\eaa8"; }
.huafon-crm-xiaoxiliebiao-shouhoutixing:before { content: "\eaa9"; }
.huafon-crm-xiaoxiliebiao-shouhoutixing1:before { content: "\eaaa"; }
.huafon-crm-xiaoxiliebiao-shoukuantixing:before { content: "\eaab"; }
.huafon-crm-xiaoxiliebiao-shoukuantixing1:before { content: "\eaac"; }
.huafon-crm-xiaoxiliebiao-tongzhigonggao:before { content: "\eaad"; }
.huafon-crm-xiaoxiliebiao-tongzhigonggao1:before { content: "\eaae"; }
.huafon-crm-xiaoxiliebiao-weijiaoyikehutixing:before { content: "\eaaf"; }
.huafon-crm-xiaoxiliebiao-weijiaoyikehutixing1:before { content: "\eab0"; }
.huafon-crm-xiaoxiliebiao-wodeliucheng:before { content: "\eab1"; }
.huafon-crm-xiaoxiliebiao-wodeliucheng1:before { content: "\eab2"; }
.huafon-crm-xiaoxiliebiao-xinyongtixing:before { content: "\eab3"; }
.huafon-crm-xiaoxiliebiao-xinyongtixing1:before { content: "\eab4"; }
.huafon-crm-xiazhouqiyingfu:before { content: "\eab5"; }
.huafon-crm-xin-shezhi:before { content: "\eab6"; }
.huafon-crm-xindaizhanghu--qiankuanzonge:before { content: "\eab7"; }
.huafon-crm-xindaizhanghu--zuichangyuqi:before { content: "\eab8"; }
.huafon-crm-xindongtai2:before { content: "\eab9"; }
.huafon-crm-xinrenwu2:before { content: "\eaba"; }
.huafon-crm-xinyongpingji:before { content: "\eabb"; }
.huafon-crm-xuanze:before { content: "\eabc"; }
.huafon-crm-yanzhengma:before { content: "\eabd"; }
.huafon-crm-yijujue:before { content: "\eabe"; }
.huafon-crm-yincangmima:before { content: "\eabf"; }
.huafon-crm-yingyong-richangbangong-bangzhushouce:before { content: "\eac0"; }

