@font-face {
  font-family: "blockchain-";
  src: url('iconfont.eot?t=1704348754499'); /* IE9*/
  src: url('iconfont.eot?t=1704348754499#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("iconfont.woff2?t=1704348754499") format("woff2"),
  url("iconfont.woff?t=1704348754499") format("woff"),
  url('iconfont.ttf?t=1704348754499') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1704348754499#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="blockchain-"], [class*=" blockchain-"] {
  font-family: 'blockchain-' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.blockchain-address:before { content: "\ea01"; }
.blockchain-application:before { content: "\ea02"; }
.blockchain-application2:before { content: "\ea03"; }
.blockchain-asymmetry:before { content: "\ea04"; }
.blockchain-certificate:before { content: "\ea05"; }
.blockchain-chain:before { content: "\ea06"; }
.blockchain-customerservice:before { content: "\ea07"; }
.blockchain-data:before { content: "\ea08"; }
.blockchain-delete:before { content: "\ea09"; }
.blockchain-download:before { content: "\ea0a"; }
.blockchain-edit:before { content: "\ea0b"; }
.blockchain-fee:before { content: "\ea0c"; }
.blockchain-invite:before { content: "\ea0d"; }
.blockchain-layer:before { content: "\ea0e"; }
.blockchain-lightningnetwork:before { content: "\ea0f"; }
.blockchain-miner:before { content: "\ea10"; }
.blockchain-mobile:before { content: "\ea11"; }
.blockchain-mobile2:before { content: "\ea12"; }
.blockchain-payment:before { content: "\ea13"; }
.blockchain-record:before { content: "\ea14"; }
.blockchain-rock:before { content: "\ea15"; }
.blockchain-safe:before { content: "\ea16"; }
.blockchain-search:before { content: "\ea17"; }
.blockchain-style:before { content: "\ea18"; }
.blockchain-time:before { content: "\ea19"; }
.blockchain-trade:before { content: "\ea1a"; }
.blockchain-transferin:before { content: "\ea1b"; }
.blockchain-transferout:before { content: "\ea1c"; }
.blockchain-upload:before { content: "\ea1d"; }
.blockchain-voice:before { content: "\ea1e"; }
.blockchain-wallet:before { content: "\ea1f"; }
.blockchain-warning:before { content: "\ea20"; }
.blockchain-warning_1:before { content: "\ea21"; }

