@font-face {
  font-family: "blockchain-"; /* Project id 2314116 */
  src: url('iconfont.woff2?t=1678760998079') format('woff2'),
       url('iconfont.woff?t=1678760998079') format('woff'),
       url('iconfont.ttf?t=1678760998079') format('truetype');
}

[class*=" blockchain-"], [class^=blockchain-] {
  font-family: "blockchain-" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blockchain-application:before {
  content: "\e613";
}

.blockchain-application2:before {
  content: "\e614";
}

.blockchain-asymmetry:before {
  content: "\e615";
}

.blockchain-data:before {
  content: "\e616";
}

.blockchain-certificate:before {
  content: "\e617";
}

.blockchain-edit:before {
  content: "\e618";
}

.blockchain-delete:before {
  content: "\e619";
}

.blockchain-chain:before {
  content: "\e61a";
}

.blockchain-record:before {
  content: "\e61b";
}

.blockchain-time:before {
  content: "\e61c";
}

.blockchain-download:before {
  content: "\e61d";
}

.blockchain-layer:before {
  content: "\e61e";
}

.blockchain-rock:before {
  content: "\e61f";
}

.blockchain-lightningnetwork:before {
  content: "\e620";
}

.blockchain-voice:before {
  content: "\e621";
}

.blockchain-miner:before {
  content: "\e622";
}

.blockchain-upload:before {
  content: "\e623";
}

.blockchain-search:before {
  content: "\e624";
}

.blockchain-wallet:before {
  content: "\e625";
}

.blockchain-style:before {
  content: "\e626";
}

.blockchain-fee:before {
  content: "\e627";
}

.blockchain-trade:before {
  content: "\e628";
}

.blockchain-customerservice:before {
  content: "\e629";
}

.blockchain-safe:before {
  content: "\e62a";
}

.blockchain-warning:before {
  content: "\e62b";
}

.blockchain-mobile2:before {
  content: "\e62c";
}

.blockchain-payment:before {
  content: "\e62d";
}

.blockchain-address:before {
  content: "\e62e";
}

.blockchain-invite:before {
  content: "\e62f";
}

.blockchain-mobile:before {
  content: "\e630";
}

.blockchain-transferin:before {
  content: "\e631";
}

.blockchain-warning_1:before {
  content: "\e632";
}

.blockchain-transferout:before {
  content: "\e633";
}

