@font-face {
  font-family: "hap-";
  src: url('iconfont.eot?t=1709194187903'); /* IE9*/
  src: url('iconfont.eot?t=1709194187903#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("iconfont.woff2?t=1709194187903") format("woff2"),
  url("iconfont.woff?t=1709194187903") format("woff"),
  url('iconfont.ttf?t=1709194187903') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1709194187903#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="hap-"], [class*=" hap-"] {
  font-family: 'hap-' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.hap-anluncaigoushenqing:before { content: "\ea01"; }
.hap-anlundandingzhuisuxitong:before { content: "\ea02"; }
.hap-anlunweicaifahuoguanlipingtai:before { content: "\ea03"; }
.hap-bangongfuzhuxitong:before { content: "\ea04"; }
.hap-bi:before { content: "\ea05"; }
.hap-bicaigouribaobiao:before { content: "\ea06"; }
.hap-bichanxiaocunribaobiao:before { content: "\ea07"; }
.hap-bihechengribaobiao:before { content: "\ea08"; }
.hap-binhaichanyeyuanquhseguanlixitong:before { content: "\ea09"; }
.hap-binhaizhihuianhuan:before { content: "\ea0a"; }
.hap-bizijinribaobiao:before { content: "\ea0b"; }
.hap-bumenfuwujiesuan:before { content: "\ea0c"; }
.hap-caiselogo:before { content: "\ea0d"; }
.hap-caiwutouziguanlipingtai:before { content: "\ea0e"; }
.hap-caiwuxitong:before { content: "\ea0f"; }
.hap-caiwuzhizhipiaojuguanlipingtai:before { content: "\ea10"; }
.hap-chaoxianbangongfuzhu:before { content: "\ea11"; }
.hap-chaoxianbaojiaxitong:before { content: "\ea12"; }
.hap-chaoxianmesyuancailiaoguanli:before { content: "\ea13"; }
.hap-chaoxianqidongnilong6zhijianxitong:before { content: "\ea14"; }
.hap-chaoxianshengchancaijipingtai:before { content: "\ea15"; }
.hap-chaoxianwujianpingtai:before { content: "\ea16"; }
.hap-chatgpt:before { content: "\ea17"; }
.hap-chixujicheng:before { content: "\ea18"; }
.hap-chongqingbancheyuyuexitong:before { content: "\ea19"; }
.hap-chongqinghuagongchanpinguanlixitong:before { content: "\ea1a"; }
.hap-chongqinghuagonglims:before { content: "\ea1b"; }
.hap-chongqinghuagongyms:before { content: "\ea1c"; }
.hap-chongqinglüyeyms:before { content: "\ea1d"; }
.hap-chongqingzhihuianhuan:before { content: "\ea1e"; }
.hap-chukoudanzhengguanli:before { content: "\ea1f"; }
.hap-dianweichaxunguanli:before { content: "\ea20"; }
.hap-dianzipiaojushibiechengxu:before { content: "\ea21"; }
.hap-dongtoulngxinaocaixiaoxitong:before { content: "\ea22"; }
.hap-dongtoulngxinaocaochexitong:before { content: "\ea23"; }
.hap-duizhangdansaoma:before { content: "\ea24"; }
.hap-ehr:before { content: "\ea25"; }
.hap-fangkeguanli:before { content: "\ea26"; }
.hap-feikongfuzhupingtai:before { content: "\ea27"; }
.hap-feishufuwu:before { content: "\ea28"; }
.hap-fengjixunshi:before { content: "\ea29"; }
.hap-gerenjixiaokaohe:before { content: "\ea2a"; }
.hap-gongxingcaiziyun:before { content: "\ea2b"; }
.hap-hapcunchufuwu:before { content: "\ea2c"; }
.hap-hapkuangjia:before { content: "\ea2d"; }
.hap-haprenwuguanli:before { content: "\ea2e"; }
.hap-hapzhurukou:before { content: "\ea2f"; }
.hap-hechengopcdianweicaiji:before { content: "\ea30"; }
.hap-hechengpda:before { content: "\ea31"; }
.hap-hechengshengchanxitong:before { content: "\ea32"; }
.hap-hechengweiwaiweixiu:before { content: "\ea33"; }
.hap-huafengdiaopaixitong:before { content: "\ea34"; }
.hap-huafenghuaxueguanlixitong:before { content: "\ea35"; }
.hap-huafengluntan:before { content: "\ea36"; }
.hap-huafengmes:before { content: "\ea37"; }
.hap-huafenlogo:before { content: "\ea38"; }
.hap-huanbaoshengchanxitong:before { content: "\ea39"; }
.hap-huaxuefenjibaozhuangwuzhihua:before { content: "\ea3a"; }
.hap-huaxueyms:before { content: "\ea3b"; }
.hap-itfuwutai:before { content: "\ea3c"; }
.hap-jichupingtai:before { content: "\ea3d"; }
.hap-jifenshangcheng:before { content: "\ea3e"; }
.hap-jinglizizhu:before { content: "\ea3f"; }
.hap-jira:before { content: "\ea40"; }
.hap-jituaniotshujucaijipingtai:before { content: "\ea41"; }
.hap-jituanqinzhefuwu:before { content: "\ea42"; }
.hap-jixiaochaxun:before { content: "\ea43"; }
.hap-kaipiaoxinxi:before { content: "\ea44"; }
.hap-kaoqinchaxun:before { content: "\ea45"; }
.hap-kehuduanbanbenguanlixitong:before { content: "\ea46"; }
.hap-kehuduanzongheguanlipingtai:before { content: "\ea47"; }
.hap-lianchuangyun:before { content: "\ea48"; }
.hap-lingxingwupinguanli:before { content: "\ea49"; }
.hap-lüyebaojiaxitong:before { content: "\ea4a"; }
.hap-lüyejihuaguanlipingtai:before { content: "\ea4b"; }
.hap-lüyeshengchanshujupingtai:before { content: "\ea4c"; }
.hap-mdm:before { content: "\ea4d"; }
.hap-menhufuwu:before { content: "\ea4e"; }
.hap-morentubiao1:before { content: "\ea4f"; }
.hap-morentubiao2:before { content: "\ea50"; }
.hap-morentubiao3:before { content: "\ea51"; }
.hap-morentubiao4:before { content: "\ea52"; }
.hap-morentubiao5:before { content: "\ea53"; }
.hap-morentubiao6:before { content: "\ea54"; }
.hap-neibushangcheng:before { content: "\ea55"; }
.hap-oajicheng:before { content: "\ea56"; }
.hap-okr:before { content: "\ea57"; }
.hap-pda:before { content: "\ea58"; }
.hap-pims:before { content: "\ea59"; }
.hap-pms:before { content: "\ea5a"; }
.hap-qinglianhuafeng:before { content: "\ea5b"; }
.hap-qinzheweiyingyong:before { content: "\ea5c"; }
.hap-qiyekaipiao:before { content: "\ea5d"; }
.hap-renliancaiji:before { content: "\ea5e"; }
.hap-renshiguanlixitong:before { content: "\ea5f"; }
.hap-renwuguanli:before { content: "\ea60"; }
.hap-renwuqingdanbihuanguanlipingtai:before { content: "\ea61"; }
.hap-ruianlims:before { content: "\ea62"; }
.hap-sandanpipeiwuzhihua:before { content: "\ea63"; }
.hap-shanghailüyeyms:before { content: "\ea64"; }
.hap-shebeiguanli:before { content: "\ea65"; }
.hap-shengrizhufu:before { content: "\ea66"; }
.hap-shoujiduanxinfuwu:before { content: "\ea67"; }
.hap-shunfengchejulebu:before { content: "\ea68"; }
.hap-shunfengkuaidiguanjia:before { content: "\ea69"; }
.hap-srm:before { content: "\ea6a"; }
.hap-tanzujixitong:before { content: "\ea6b"; }
.hap-tengxunqiyeyouxiang:before { content: "\ea6c"; }
.hap-tianyancha:before { content: "\ea6d"; }
.hap-tms:before { content: "\ea6e"; }
.hap-tmshoutaifuwu:before { content: "\ea6f"; }
.hap-tmswuliuxitong:before { content: "\ea70"; }
.hap-tmszitidanguanli:before { content: "\ea71"; }
.hap-tpumes:before { content: "\ea72"; }
.hap-tpumesfuzhuxitong:before { content: "\ea73"; }
.hap-wbsguanlixitong:before { content: "\ea74"; }
.hap-wms:before { content: "\ea75"; }
.hap-wodejianli:before { content: "\ea76"; }
.hap-wuliuchaxunxitong:before { content: "\ea77"; }
.hap-wuyeguanlifangke:before { content: "\ea78"; }
.hap-wuyeguanligongzhonghao:before { content: "\ea79"; }
.hap-wuyeguanlixitong:before { content: "\ea7a"; }
.hap-xianyulijiu:before { content: "\ea7b"; }
.hap-xiaofeichaxun:before { content: "\ea7c"; }
.hap-xiaoxiguanlipingtai:before { content: "\ea7d"; }
.hap-xiaoxipingtai:before { content: "\ea7e"; }
.hap-xiaoxitongzhifuwu:before { content: "\ea7f"; }
.hap-xiaozhaotongxue:before { content: "\ea80"; }
.hap-xinzichaxun:before { content: "\ea81"; }
.hap-xinziguanlipingtai:before { content: "\ea82"; }
.hap-yidongkaoqin:before { content: "\ea83"; }
.hap-yikatongxitong:before { content: "\ea84"; }
.hap-yinnibaobiaoxitong:before { content: "\ea85"; }
.hap-yinniewmsxiangqingye:before { content: "\ea86"; }
.hap-yinniewmsxitong:before { content: "\ea87"; }
.hap-yinnipdasaoma:before { content: "\ea88"; }
.hap-yinniwuziguanlixitong:before { content: "\ea89"; }
.hap-yinqihulian:before { content: "\ea8a"; }
.hap-yongcanyuding:before { content: "\ea8b"; }
.hap-youxiugaoqiandaxueshengguanli:before { content: "\ea8c"; }
.hap-yuangongxinxiang:before { content: "\ea8d"; }
.hap-yunxuetang:before { content: "\ea8e"; }
.hap-zhengmingshenqing:before { content: "\ea8f"; }
.hap-zhihuianhuan:before { content: "\ea90"; }
.hap-zhihuimeichang:before { content: "\ea91"; }
.hap-zhishijingda:before { content: "\ea92"; }
.hap-zhoubaoguanlixitong:before { content: "\ea93"; }
.hap-zichanguanli:before { content: "\ea94"; }

