@font-face {
  font-family: "zhifubao-";
  src: url('iconfont.eot?t=1704348685358'); /* IE9*/
  src: url('iconfont.eot?t=1704348685358#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("iconfont.woff2?t=1704348685358") format("woff2"),
  url("iconfont.woff?t=1704348685358") format("woff"),
  url('iconfont.ttf?t=1704348685358') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1704348685358#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="zhifubao-"], [class*=" zhifubao-"] {
  font-family: 'zhifubao-' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.zhifubao-AApay:before { content: "\ea01"; }
.zhifubao-Friendsettings:before { content: "\ea02"; }
.zhifubao-accountbook:before { content: "\ea03"; }
.zhifubao-add:before { content: "\ea04"; }
.zhifubao-add1:before { content: "\ea05"; }
.zhifubao-address:before { content: "\ea06"; }
.zhifubao-addressbook:before { content: "\ea07"; }
.zhifubao-anger:before { content: "\ea08"; }
.zhifubao-bankcard:before { content: "\ea09"; }
.zhifubao-barchart:before { content: "\ea0a"; }
.zhifubao-bill:before { content: "\ea0b"; }
.zhifubao-bulletin:before { content: "\ea0c"; }
.zhifubao-bus:before { content: "\ea0d"; }
.zhifubao-buscode:before { content: "\ea0e"; }
.zhifubao-calculator:before { content: "\ea0f"; }
.zhifubao-calendar:before { content: "\ea10"; }
.zhifubao-card:before { content: "\ea11"; }
.zhifubao-chat:before { content: "\ea12"; }
.zhifubao-chat_add:before { content: "\ea13"; }
.zhifubao-chat_right:before { content: "\ea14"; }
.zhifubao-chat_wrong:before { content: "\ea15"; }
.zhifubao-classification:before { content: "\ea16"; }
.zhifubao-close_circle:before { content: "\ea17"; }
.zhifubao-close_volume:before { content: "\ea18"; }
.zhifubao-coin:before { content: "\ea19"; }
.zhifubao-collect:before { content: "\ea1a"; }
.zhifubao-collection:before { content: "\ea1b"; }
.zhifubao-compass:before { content: "\ea1c"; }
.zhifubao-compass1:before { content: "\ea1d"; }
.zhifubao-content:before { content: "\ea1e"; }
.zhifubao-coupon:before { content: "\ea1f"; }
.zhifubao-delete:before { content: "\ea20"; }
.zhifubao-details:before { content: "\ea21"; }
.zhifubao-down_s:before { content: "\ea22"; }
.zhifubao-downland:before { content: "\ea23"; }
.zhifubao-edit:before { content: "\ea24"; }
.zhifubao-express:before { content: "\ea25"; }
.zhifubao-eye:before { content: "\ea26"; }
.zhifubao-facerecognition:before { content: "\ea27"; }
.zhifubao-fillin:before { content: "\ea28"; }
.zhifubao-fillin1:before { content: "\ea29"; }
.zhifubao-fillin2:before { content: "\ea2a"; }
.zhifubao-folder:before { content: "\ea2b"; }
.zhifubao-friend_delete:before { content: "\ea2c"; }
.zhifubao-friend_delete_2:before { content: "\ea2d"; }
.zhifubao-friend_settings:before { content: "\ea2e"; }
.zhifubao-friends_add:before { content: "\ea2f"; }
.zhifubao-gift:before { content: "\ea30"; }
.zhifubao-good:before { content: "\ea31"; }
.zhifubao-home:before { content: "\ea32"; }
.zhifubao-huititle:before { content: "\ea33"; }
.zhifubao-information_add:before { content: "\ea34"; }
.zhifubao-information_add1:before { content: "\ea35"; }
.zhifubao-key:before { content: "\ea36"; }
.zhifubao-koubei:before { content: "\ea37"; }
.zhifubao-left:before { content: "\ea38"; }
.zhifubao-left1:before { content: "\ea39"; }
.zhifubao-link:before { content: "\ea3a"; }
.zhifubao-live:before { content: "\ea3b"; }
.zhifubao-live1:before { content: "\ea3c"; }
.zhifubao-location:before { content: "\ea3d"; }
.zhifubao-lock:before { content: "\ea3e"; }
.zhifubao-logo:before { content: "\ea3f"; }
.zhifubao-loop:before { content: "\ea40"; }
.zhifubao-loop1:before { content: "\ea41"; }
.zhifubao-mail:before { content: "\ea42"; }
.zhifubao-mark:before { content: "\ea43"; }
.zhifubao-me:before { content: "\ea44"; }
.zhifubao-minus:before { content: "\ea45"; }
.zhifubao-more:before { content: "\ea46"; }
.zhifubao-more1:before { content: "\ea47"; }
.zhifubao-movie:before { content: "\ea48"; }
.zhifubao-network:before { content: "\ea49"; }
.zhifubao-no:before { content: "\ea4a"; }
.zhifubao-no_eye:before { content: "\ea4b"; }
.zhifubao-openmail:before { content: "\ea4c"; }
.zhifubao-pay:before { content: "\ea4d"; }
.zhifubao-pay_collect:before { content: "\ea4e"; }
.zhifubao-payment:before { content: "\ea4f"; }
.zhifubao-pepole:before { content: "\ea50"; }
.zhifubao-personal:before { content: "\ea51"; }
.zhifubao-picture:before { content: "\ea52"; }
.zhifubao-piechart_1:before { content: "\ea53"; }
.zhifubao-piechart_2:before { content: "\ea54"; }
.zhifubao-play:before { content: "\ea55"; }
.zhifubao-query:before { content: "\ea56"; }
.zhifubao-redpacket:before { content: "\ea57"; }
.zhifubao-refresh:before { content: "\ea58"; }
.zhifubao-right:before { content: "\ea59"; }
.zhifubao-right1:before { content: "\ea5a"; }
.zhifubao-scan:before { content: "\ea5b"; }
.zhifubao-search:before { content: "\ea5c"; }
.zhifubao-selected:before { content: "\ea5d"; }
.zhifubao-send:before { content: "\ea5e"; }
.zhifubao-shop:before { content: "\ea5f"; }
.zhifubao-slice:before { content: "\ea60"; }
.zhifubao-smail:before { content: "\ea61"; }
.zhifubao-system-QRcode:before { content: "\ea62"; }
.zhifubao-system-phonebook:before { content: "\ea63"; }
.zhifubao-target:before { content: "\ea64"; }
.zhifubao-text:before { content: "\ea65"; }
.zhifubao-textdeletion:before { content: "\ea66"; }
.zhifubao-trash:before { content: "\ea67"; }
.zhifubao-travel:before { content: "\ea68"; }
.zhifubao-type:before { content: "\ea69"; }
.zhifubao-under:before { content: "\ea6a"; }
.zhifubao-up:before { content: "\ea6b"; }
.zhifubao-up_s:before { content: "\ea6c"; }
.zhifubao-upload:before { content: "\ea6d"; }
.zhifubao-upload1:before { content: "\ea6e"; }
.zhifubao-voice:before { content: "\ea6f"; }
.zhifubao-voice_close:before { content: "\ea70"; }
.zhifubao-volume:before { content: "\ea71"; }
.zhifubao-volume1:before { content: "\ea72"; }
.zhifubao-volume_close:before { content: "\ea73"; }
.zhifubao-wallet:before { content: "\ea74"; }
.zhifubao-warn:before { content: "\ea75"; }
.zhifubao-zoom:before { content: "\ea76"; }
.zhifubao-zoomout:before { content: "\ea77"; }

